*.suo
*~
*.user
*.aps
*.ipch
*.sdf
*.opensdf
*.db
*.filter

# Log files
*_log.txt

# Build/output directories
obj/
bin/
build/
Debug/
Release/

# Installer output
Installer/Output

# Installer pre-processor
Installer/PreprocessedpGina0.iss
